<h2
  *ngIf="data.labels.title"
  class="semi-bold-headline-medium header"
  data-cy="dialog-title"
>
  {{ data.labels.title | translate }}
</h2>

<div class="template" mat-dialog-content>
  <ng-container
    *ngTemplateOutlet="data.templateRef; context: { $implicit: data }"
  />
</div>

<div mat-dialog-actions>
  <div class="buttons">
    <sdeck-button
      [mat-dialog-close]="data.result"
      [label]="data.labels.submit | translate"
      [disabled]="data.options.disabled"
      (clicked)="data.submitCallbackFn()"
      data-cy="dialog-submit"
    />

    <sdeck-button
      color="accent"
      [mat-dialog-close]=""
      [label]="data.labels.cancel | translate"
      (clicked)="data.cancelCallbackFn()"
      data-cy="dialog-cancel"
    />
  </div>
</div>
