<h2 *ngIf="data.labels.title" mat-dialog-title class="semi-bold-title-large">
  {{ data.labels.title! | translate }}
</h2>

<div class="template" mat-dialog-content>
  <ng-container
    *ngTemplateOutlet="data.templateRef; context: { $implicit: data }"
  />
</div>

<div mat-dialog-actions>
  <div class="buttons">
    <sdeck-button
      [mat-dialog-close]="data.result"
      [disabled]="data.options.disabled"
      [label]="data.labels.submit | translate"
      data-test-id="dialog-submit"
      (clicked)="data.submitCallbackFn()"
    />

    <sdeck-button
      color="accent"
      [mat-dialog-close]=""
      [label]="data.labels.cancel | translate"
      data-test-id="dialog-cancel"
      (clicked)="data.cancelCallbackFn()"
    />
  </div>
</div>
