@use '@angular/material' as mat;
@use '_palettes' as palettes;

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 12px;
  background-color: palettes.$whitish;
}

.header {
  text-align: center;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  justify-content: center;
  gap: 32px;
}
