@use '_palettes' as palettes;

.input-container {
  display: flex;
  gap: 32px;
}

.names-form {
  position: relative;
}

.same-values-message {
  position: absolute;
  color: palettes.$error-message-color;
}
