.button {
  padding: var(--padding);
  font-size: var(--fontSize);
  font-weight: 500;

  i-feather {
    width: var(--iconWidth);
    height: var(--iconWidth);
    display: flex;
    align-items: center;
  }
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  i-feather {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }
}
