@use '@angular/material' as mat;
@use 'typography' as typography;
@use '_palettes' as palettes;

.placeholder-box {
  width: 250px;
  height: 200px;
  background-color: mat.get-color-from-palette(palettes.$grey-variant, 70);
  color: palettes.$dark-gray;
}
