@use '_palettes' as palettes;

.card-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  width: 100%;
  margin: 24px 0;
  gap: 24px;
}

.attributes {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 24px 16px;
}

.winning-card {
  border: 4px solid palettes.$yellow-card-border;
  border-radius: 4px;
}

.key-attribute {
  font-weight: bold;
  font-size: 1.5rem;

  &--win {
    color: palettes.$win-value-color;
  }

  &--lose {
    color: palettes.$lose-value-color;
  }
}

.header {
  text-align: center;
}
