@use '_palettes' as palettes;
@use '@angular/material' as mat;

:host {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.players {
  display: flex;
  gap: 16px;
}

.separator {
  margin: 0 8px;
  border-right: 1px solid mat.get-color-from-palette(palettes.$grey-variant, 70);
}
