.card {
  min-width: 250px;
  transition: all 0.2s ease;
  border: 2px solid transparent;
  border-radius: 4px;
  cursor: pointer;
}

.card.selected {
  border: 2px solid green;
}

.card:hover {
  transform: scale(1.05);
}
