@use '_palettes' as palettes;

.card {
  transition: all 0.2s ease;
  border: 4px solid transparent;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    transform: scale(0.95);
  }

  &.selected {
    border: 4px solid palettes.$yellow-card-border;
  }
}
