@use '_palettes' as palettes;
@use '@angular/material' as mat;

.wrapper {
  display: flex;
}

.headline {
  margin-bottom: 16px;
}

.main-content {
  flex: 2;
}

.cards-board {
  padding-top: 16px;
  height: 80vh;
  border-right: 1px solid mat.get-color-from-palette(palettes.$grey-variant, 70);
  overflow-y: auto;
}

.game-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.aside {
  flex: 1;
  padding: 16px;
}

.section {
  display: flex;
  margin-bottom: 64px;
}

.section-small-space {
  margin-bottom: 48px;
}

.error-message {
  white-space: pre-wrap;
}
